@media print {
    *{
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
        font: italic 1.2rem "Fira Sans", serif;
        font-size: 16px;
    }
    .topnav,
    .div21,
    .div22,
    .nuot{
        display: none;
    }
   #printPageButton {
    display: none;
  }
    
}
